# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars 
*.tfvars 
*.auto.tfvars


# Rust
target/
Cargo.lock

# Python
__pycache__/
*.pyc
.venv/
*.ipynb

# AWS
.aws-sam/

# Build
dist/

# JSON
response.json
*event.json

# Dashboard and Jupyter
*.ipynb
*.csv
*.DS_Store
dashboard/