# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars 
*.tfvars 
*.auto.tfvars


# Rust
target/
Cargo.lock

# Python
__pycache__/
*.pyc
.venv/

# AWS
.aws-sam/

# Build
dist/